/* Pills */
.pill-cloud {
    display: flex;
    flex-wrap: wrap;
    gap: 0.625em;
}

    .pill-cloud ::deep .pill {
        background-color: var(--palette-primary-background1-color);
        border: solid 1px var(--palette-primary-color);
        color: var(--palette-primary-color);
        border-radius: 8px;
        line-height: 1em;
        padding: 0 0.3125em 0 0.3125em;
        display: flex;
        font-weight: bold;
        letter-spacing: 0;
        align-items: center;
        text-decoration: none;
        font-weight: normal;
        position: relative;
        line-height: 1.75;
    }

        .pill-cloud ::deep .pill::before {
            content: '';
            position: absolute;
            top: -96px;
            bottom: -96px;
            left: -96px;
            right: -96px;
            background: radial-gradient(closest-side, hsl(var(--palette-primary-hue), 100%, 50%, 0.25) 0%, hsl(var(--palette-primary-hue), 100%, 50%, 0.0625) 50%, hsl(var(--palette-primary-hue), 100%, 50%, 0.0) 100%);
            z-index: -1;
            opacity: 0.625;
            transition: opacity ease-in-out 0.125s;
            pointer-events: none;
        }

        .pill-cloud ::deep .pill::after {
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            border-radius: 8px;
            opacity: 0;
            transition: opacity ease-in-out 0.125s;
            pointer-events: none;
            box-shadow: 0 0 10px hsl(var(--palette-primary-hue), 100%, 65%, 0.8);
        }

        .pill-cloud ::deep .pill:hover,
        .pill-cloud ::deep .pill:focus {
            outline: 0;
        }

            .pill-cloud ::deep .pill:hover::before,
            .pill-cloud ::deep .pill:focus::before {
                opacity: 1;
            }

            .pill-cloud ::deep .pill:hover::after,
            .pill-cloud ::deep .pill:focus::after {
                opacity: 1;
            }

        .pill-cloud ::deep .pill ::selection {
            background-color: var(--palette-primary-color);
            color: white;
        }

        .pill-cloud ::deep .pill p {
            margin: 0;
            pointer-events: none;
        }

        .pill-cloud ::deep .pill svg:first-child {
            width: 1.5em;
            height: 1.5em;
            margin: 0;
            pointer-events: none;
            margin-right: 0.25em;
        }

        .pill-cloud ::deep .pill svg.external-link-icon {
            width: 0.75em;
            height: 0.75em;
            margin-left: 0.1875em;
            margin-top: 0.25em;
            margin-right: 0;
            align-self: start;
            pointer-events: none;
        }

        .pill-cloud ::deep .pill.palette-northbrook {
            --palette-primary-color: #DA3C10;
            --palette-primary-hue: 13deg;
            --palette-primary-background1-color: #DA3C1025;
        }

        .pill-cloud ::deep .pill.palette-gamejam {
            --palette-primary-color: #92ff9a;
            --palette-primary-hue: 91deg;
            --palette-primary-background1-color: #92ff9a25;
        }

        .pill-cloud ::deep .pill.palette-backend {
            --palette-primary-color: #91d5ff;
            --palette-primary-hue: 203deg;
            --palette-primary-background1-color: #009dff2b;
        }

        .pill-cloud ::deep .pill.palette-systems {
            --palette-primary-color: #11e3b0;
            --palette-primary-hue: 165deg;
            --palette-primary-background1-color: #00ffab24;
        }

        .pill-cloud ::deep .pill.palette-tools {
            --palette-primary-color: #7ca9ff;
            --palette-primary-hue: 219deg;
            --palette-primary-background1-color: #002dff33;
        }

        .pill-cloud ::deep .pill.palette-multiplayer {
            --palette-primary-color: #ff76cb;
            --palette-primary-hue: 323deg;
            --palette-primary-background1-color: #ff009f38;
        }

        .pill-cloud ::deep .pill.palette-gameplay {
            --palette-primary-color: #d292ff;
            --palette-primary-hue: 275deg;
            --palette-primary-background1-color: #9500ff25;
        }

        .pill-cloud ::deep .pill.palette-technicalart {
            --palette-primary-color: #ff7171;
            --palette-primary-hue: 0deg;
            --palette-primary-background1-color: #ff000025;
        }
