@layout DefaultLayout
@page "/portfolio/numerics"
@{
    var openGraphModel = new OpenGraphModel()
    {
        Title = "Numerics - Fydar",
        Description = "A complete numerics system.",
        CanonicalUrl = "https://fydar.dev/portfolio/numerics",
        Properties = [
            new OpenGraphModelImage()
            {
                Url = "https://fydar.dev/media/header.webp",
                Alt = "A portrait of Fydar in an anime art style."
            }
        ]
    };
    var linkData = new LinkData()
    {
        new LinkDataBreadcrumbList()
        {
            new LinkDataBreadcrumbListItem()
            {
                Name = "Portfolio",
                Item = "https://fydar.dev/portfolio/"
            },
            new LinkDataBreadcrumbListItem()
            {
                Name = "Numerics",
                Item = "https://fydar.dev/portfolio/numerics"
            }
        }
    };
}

<HeadContent>
    <OpenGraphComponent Model="@openGraphModel" />
    <LinkDataComponent Model="@linkData" />
</HeadContent>

<section class="container container-wide" data-nosnippet>
    <h1>Numerics</h1>
</section>

<aside class="project-summary">
    <section>
        <PillCloud>
            <NavLink class="pill palette-systems" href="/portfolio/systems" target="_blank"><SvgSprite Link="/icons.svg?v=1#tabler--settings" Alt="Systems Engineering" /><p>C#</p><SvgSprite Link="/icons.svg?v=1#icon-external-link" class="external-link-icon" /></NavLink>
        </PillCloud>

        <p>@openGraphModel.Description.Default</p>

        <menu class="externallinks" aria-label="Project External links">
            <li><a href="https://github.com/fydar/Deterministic" target="_blank"><SvgSprite Link="/icons.svg?v=1#icon-github" Alt="GitHub" /></a></li>
        </menu>

        <ShareLink Url="@openGraphModel.CanonicalUrl.Html" />
    </section>
</aside>

<HeadingScope>
    <aside>
        <section style="position: sticky; top: 64px;">
            <div style="height: 5rem"></div>
            <TableOfContents />
        </section>

    </aside>

    <section class="container">

        <Heading Level="2" Identifier="fixed-points">
            <Text>Fixed-Point Mathematics</Text>
            <Content>

                <p>A common problem when programming a <b>deterministic simulation</b> is <b>deterministic mathematics</b>. One way to achieve <b>deterministic mathematics</b> is to use a <b>fixed-point numeric</b> as an alternative to the built-in <b>floating point numeric</b>. This is a commonly employed strategy by RTS games.</p>

                <Callout Type="construction">
                    <Icon><SvgSprite Link="/icons.svg?v=1#fluent-emoji-high-contrast--construction" Alt="Check" /></Icon>
                    <ChildContent>This section of my website is currently <b>under construction</b>.</ChildContent>
                </Callout>

            </Content>
        </Heading>

    </section>
</HeadingScope>
