@layout DefaultLayout
@page "/portfolio/lodestone"
@{
    var openGraphModel = new OpenGraphModel()
    {
        Title = "Lodestone - Fydar",
        Description = "An asset database and build system.",
        CanonicalUrl = "https://fydar.dev/portfolio/lodestone",
        Properties = [
            new OpenGraphModelImage()
            {
                Url = "https://fydar.dev/media/header.webp",
                Alt = "A portrait of Fydar in an anime art style."
            }
        ]
    };
    var linkData = new LinkData()
    {
        new LinkDataBreadcrumbList()
        {
            new LinkDataBreadcrumbListItem()
            {
                Name = "Portfolio",
                Item = "https://fydar.dev/portfolio"
            },
            new LinkDataBreadcrumbListItem()
            {
                Name = "Lodestone",
                Item = "https://fydar.dev/portfolio/lodestone"
            }
        }
    };
}

<HeadContent>
    <OpenGraphComponent Model="@openGraphModel" />
    <LinkDataComponent Model="@linkData" />
</HeadContent>

<article class="page-lodestone">

    <div class="container">
        <Block_ArticleHeader>
            <h1 data-nosnippet>Lodestone</h1>
        </Block_ArticleHeader>

        <Block_ArticleIntroduction>
            <Sidebar>
                <Block_PillCloud>
                    <Pill_Tools />
                    <Pill_CSharp />
                </Block_PillCloud>

                <p>@openGraphModel.Description.Default</p>

                <menu class="externallinks" aria-label="Project External links">
                </menu>

                <ShareLink Url="@openGraphModel.CanonicalUrl.Html" />
            </Sidebar>
            <Container>
            </Container>
        </Block_ArticleIntroduction>

        <Block_ArticleOutlined>
            <Sidebar>
                <aside>
                    <Block_TableOfContents />
                </aside>
            </Sidebar>
            <Content>

                <OutlineSection Id="asset-pipeline" LinkName="The Asset Pipeline">
                    <Block_ArticleHeading>
                        <h2>The Asset Pipeline</h2>
                    </Block_ArticleHeading>

                    <p>The asset pipeline is composed of processing layers that transform data from one format to another.</p>

                    <p>These layers can be thought of many-to-many transformations. Some layers will take multiple sources and map them to a single item.</p>

                    <p>Other layers may map one source to many different resources.</p>

                    <p>Putting it all together, some layers might import multiple sources and produce multiple resources.</p>

                    <p>These layers can be stacked together to form a complete asset pipeline.</p>

                    <Block_Callout Type="construction">
                        <Icon><SvgSprite Link="/icons.svg?v=1#fluent-emoji-high-contrast--construction" Alt="Check" /></Icon>
                        <ChildContent>This section of my website is currently <b>under construction</b>.</ChildContent>
                    </Block_Callout>
                </OutlineSection>

                <OutlineSection Id="incremental-building" LinkName="Incremental Building">
                    <Block_ArticleHeading>
                        <h2>Incremental Building</h2>
                    </Block_ArticleHeading>

                    <p>Lodestone features support for <b>incremental building</b> of assets through its cascading database.</p>

                    <Block_Callout Type="construction">
                        <Icon><SvgSprite Link="/icons.svg?v=1#fluent-emoji-high-contrast--construction" Alt="Check" /></Icon>
                        <ChildContent>This section of my website is currently <b>under construction</b>.</ChildContent>
                    </Block_Callout>
                </OutlineSection>

            </Content>
        </Block_ArticleOutlined>
    </div>
</article>
