<div class="cover-date" data-nosnippet>
    <p class="cover-date-label" aria-hidden="true">@Date</p>
    @ChildContent
</div>

@code {
    [Parameter]
    public string? Date { get; set; }

    [Parameter, EditorRequired]
    public RenderFragment? ChildContent { get; set; }
}
