article.page-myname .originchart {
    /*
    max-width: 340px;
    background: rgb(23 26 32);
    padding: 8px 8px;
    border-radius: 16px;
        */
    width: 100%;
    max-height: 220px;
    padding: 10px 8px;
    box-sizing: border-box;
    background: rgb(23 26 32);
    border-radius: 16px;
    object-fit: contain;
}
    article.page-myname .originchart + h3 {
        margin-block-start: 2em;
    }
