@using Fydar.Dev.WebApp.Components.Blocks.Phonetics
@using Microsoft.AspNetCore.OutputCaching;

@layout DefaultLayout
@page "/myname"

@attribute [OutputCache(Duration = 600)]

@inject NavigationManager NavigationManager
@inject Noncer noncer;

@{
    var openGraphModel = new OpenGraphModel()
    {
        Title = "Fydar - Name Pronunciation, Origin, and Meaning",
        Description = "My name is “Fydar”. It's a unique name, so I decided to document it myself.",
        CanonicalUrl = "https://fydar.dev/myname",
        Properties = [
            new OpenGraphModelImage()
            {
                Url = "https://fydar.dev/media/header.webp",
                Alt = "A portrait of Fydar in an anime art style."
            }
        ]
    };
    var linkData = new LinkData()
    {
        new LinkDataBreadcrumbList()
        {
            new LinkDataBreadcrumbListItem()
            {
                Name = "My Name",
                Item = "https://fydar.dev/myname"
            }
        }
    };
}

<HeadContent>
    <OpenGraphComponent Model="@openGraphModel" />
    <LinkDataComponent Model="@linkData" />
</HeadContent>

<article class="page-myname">
    <div class="container">
        <Block_ArticleHeader>
            <h1>My Name</h1>
        </Block_ArticleHeader>

        <Block_ArticleOutlined>
            <Sidebar>
                <p>My name is “Fydar”. It's a unique name, so I decided to document it myself.</p>

                <ShareLink Url="@openGraphModel.CanonicalUrl.Html" />

                <aside>
                    <Block_TableOfContents />
                </aside>
            </Sidebar>
            <Content>
                <OutlineSection LinkName="History" Id="history">
                    <Block_ArticleHeading>
                        <h2>History</h2>
                    </Block_ArticleHeading>

                    <p>In 2016, I began writing a novella featuring a character who embodied <b>humanity’s hope</b> for the future. Inspired by the name of King Minos’s daughter, <i>Phaedra</i>, I coined the name <b>Phaidara</b> (utilizing the Italian <i>-ara</i> suffix).</p>

                    <p>As the character developed, the name evolved: first to <i>Fydara</i>, and finally to <i>Ismira, the Fydar</i> (where Fydar transitioned into a formal title). In 2019, Fydar became my primary username. By 2021, it had become the name I was most commonly known by, and I adopted it as my own.</p>
                </OutlineSection>

                <OutlineSection LinkName="Pronunciation" Id="pronunciation">
                    <Block_ArticleHeading>
                        <h2>Pronunciation</h2>
                    </Block_ArticleHeading>

                    <Block_PronunciationGuide_Fydar />

                    <p><b><IPA String="new IPAString(IPACluster.PrimaryStress, IPACluster.F, IPACluster.Y, IPACluster.Syllabification, IPACluster.D, IPACluster.AR)" /></b> (Phonetic respelling: <b>FIGH-dah</b>)</p>

                    <ul>
                        <li><b>Fy:</b> Pronounced <IPA String="new IPAString(IPACluster.F, IPACluster.Y)" />, like the “fy” in <i>simplify</i> or “figh” in <i>fight</i>.</li>
                        <li><b>dar:</b> Pronounced <IPA String="new IPAString(IPACluster.D, IPACluster.AR)" />, like “dar” in <i>dark</i> (British English) or “da” in <i>data</i> (DAH-tah, American English).</li>
                    </ul>

                    <p>I speak British English, which is a <b>non-rhotic</b> accent. Consequently, I do not pronounce a separate <IPA String="new IPAString(IPACluster.R)" /> sound (the "r" in "red") at the end of the name, unlike speakers with rhotic accents (such as most American English dialects).</p>
                </OutlineSection>

                <OutlineSection LinkName="Origin" Id="origin">
                    <Block_ArticleHeading>
                        <h2>Origin</h2>
                    </Block_ArticleHeading>

                    <img class="originchart" decoding="async" loading="lazy" src="@Assets["media/fydar-origin.svg"]" alt="The etymology of the name 'Fydar'." />

                    <h3>The Stem: <a href="https://en.wiktionary.org/wiki/%CF%86%CE%B1%CE%B9%CE%B4%CF%81%CF%8C%CF%82"><i>phaid-</i><SvgSprite Link="/icons.svg?v=1#icon-external-link" class="external-link-icon" /></a></h3>

                    <p>The prefix <b>Fy-</b> is a modernized phonetic evolution of the Ancient Greek stem <i>phaid-</i> (<span lang="el">φαιδ-</span>), from the adjective <i>phaidros</i> (<a href="https://en.wiktionary.org/wiki/%CF%86%CE%B1%CE%B9%CE%B4%CF%81%CF%8C%CF%82" target="_blank"><span lang="el">φαιδρός</span><SvgSprite Link="/icons.svg?v=1#icon-external-link" class="external-link-icon" /></a>), meaning “bright,” “radiant,” or “joyful.”</p>

                    <p>In the transition from <i>phaid-</i> to <i>fy-</i>, the “ph” undergoes a common historical shift from an aspirated stop <IPA String="new IPAString(IPACluster.AspiratedStop)" /> to the labiodental fricative <IPA String="new IPAString(IPACluster.F)" />, and the diphthong “ai” stabilizes into the long <IPA String="new IPAString(IPACluster.Y)" /> sound.</p>

                    <h3>The Suffix: <a href="https://en.wiktionary.org/wiki/%D9%80%D8%AF%D8%A7%D8%B1#Persian" target="_blank"><i>-dâr</i><SvgSprite Link="/icons.svg?v=1#icon-external-link" class="external-link-icon" /></a></h3>

                    <p>The suffix <b>-dar</b> is derived from the Classical Persian suffix <i>-dâr</i> (<a href="https://en.wiktionary.org/wiki/%D9%80%D8%AF%D8%A7%D8%B1#Persian" target="_blank"><span lang="fa">ـدار</span><SvgSprite Link="/icons.svg?v=1#icon-external-link" class="external-link-icon" /></a>). This comes from the present stem of <i>dâštan</i> (<a href="https://en.wiktionary.org/wiki/%D8%AF%D8%A7%D8%B4%D8%AA%D9%86#Persian" target="_blank"><span lang="fa">داشتن</span><SvgSprite Link="/icons.svg?v=1#icon-external-link" class="external-link-icon" /></a>), meaning “to keep” or “to hold,” and is traditionally used to indicate ownership, agency, or one who possesses a specific quality.</p>

                    <h3>Combined Meaning</h3>

                    <p><i>Fydar</i> can be literally interpreted as the title “Light Keeper,” or less literally could be interpreted as “someone who is joyful.”</p>
                </OutlineSection>
            </Content>
        </Block_ArticleOutlined>
    </div>
</article>
