<span class="ipa">/<span class="titled">@foreach (var cluster in String.Clusters){<span title="@cluster.Hint">@cluster.Symbol</span>}</span>/</span>

@code {
	[Parameter]
	public IPAString String { get; set; } = new IPAString();
}
