
div.page-viewport {
    aspect-ratio: 210 / 297;
    --container-width: calc(100vw - 16px - 16px - var(--dynamic-pagescrollbar-width));
    width: var(--container-width);
    max-width: 210mm;
    overflow: hidden;
    position: relative;
}

div.page {
    transform-origin: top left;
    transform: scale(calc(min(1, var(--container-width) / 210mm)));
    width: 210mm;
    height: 297mm;
    background: white;
    box-sizing: border-box;
    page-break-inside: avoid;
}

@media print {

    ::deep div.page {
        filter: none;
    }

    div.page {
        margin: 0;
        overflow: hidden;
        transform: none;
        position: unset;
    }

    div.page-viewport {
        width: unset;
        aspect-ratio: unset;
        margin-bottom: 0;
        width: 210mm;
        height: 297mm;
    }
}
