<li class="textual-tag">
    <SvgSprite Link="/icons.svg?v=1#icon-calendar" />@(string.IsNullOrEmpty(Short) ? Text : Short)
</li>

@code {
    [Parameter, EditorRequired]
    public string? Text { get; set; }

    [Parameter]
    public string? Short { get; set; }
}
