<li class="card pointer-relative">

    @FeaturedImage

    <a class="card-link" href="@href" target="@target" download="@download"></a>

    <div class="card-hover">
        @if (Signed)
        {
            <div class="card-signed"></div>
        }
        <div class="card-outerglow">
            <div class="card-outerglow-tl"></div>
            <div class="card-outerglow-t"></div>
            <div class="card-outerglow-tr"></div>
            <div class="card-outerglow-ml"></div>
            <div class="card-outerglow-mr"></div>
            <div class="card-outerglow-bl"></div>
            <div class="card-outerglow-b"></div>
            <div class="card-outerglow-br"></div>
        </div>
    </div>
     
    @ChildContent

</li>

@code {
    [Parameter]
    public RenderFragment? FeaturedImage { get; set; }

    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    [Parameter]
    public bool Signed { get; set; } = false;

    [Parameter, EditorRequired]
    public string href { get; set; } = "";

    [Parameter]
    public string target { get; set; } = "_self";

    [Parameter]
    public string? download { get; set; } = null;

    [CascadingParameter(Name = "CardGrid")]
    public CardGrid? CardGrid { get; set; }

    protected override void OnParametersSet()
    {
        if (CardGrid != null)
        {
            CardGrid.Register(this);
        }

        base.OnParametersSet();
    }
}
