@if (CardGrid != null)
{
	<li class="card">
		@CardInterior()
	</li>
}
else
{
	<div class="card">
		@CardInterior()
	</div>
}

@code {
	[Parameter]
	public RenderFragment? ChildContent { get; set; }

	[CascadingParameter(Name = "CardGrid")]
	public Block_CardGrid? CardGrid { get; set; }

	protected override void OnParametersSet()
	{
		if (CardGrid != null)
		{
			CardGrid.Register(this);
		}

		base.OnParametersSet();
	}

	private RenderFragment CardInterior()
	{
		return @<text>
				<div class="card__glow">
					<div class="card__glow-tl"></div>
					<div class="card__glow-t"></div>
					<div class="card__glow-tr"></div>
					<div class="card__glow-ml"></div>
					<div class="card__glow-mr"></div>
					<div class="card__glow-bl"></div>
					<div class="card__glow-b"></div>
					<div class="card__glow-br"></div>
				</div>
				<div class="card__border"></div>

			@ChildContent
		</text>;
	}
}
