@layout DefaultLayout
@page "/portfolio/tools"
@{
    var openGraphModel = new OpenGraphModel()
    {
        Title = "Tools Engineering - Fydar",
        Description = "A collection of tools I've developed.",
        CanonicalUrl = "https://fydar.dev/portfolio/tools",
        Properties = [
            new OpenGraphModelImage()
            {
                Url = "https://fydar.dev/media/header.webp",
                Alt = "A portrait of Fydar in an anime art style."
            }
        ]
    };
    var linkData = new LinkData()
    {
        new LinkDataBreadcrumbList()
        {
            new LinkDataBreadcrumbListItem()
            {
                Name = "Portfolio",
                Item = "https://fydar.dev/portfolio"
            },
            new LinkDataBreadcrumbListItem()
            {
                Name = "Tools Engineering",
                Item = "https://fydar.dev/portfolio/tools"
            }
        }
    };
}

<HeadContent>
    <OpenGraphComponent Model="@openGraphModel" />
    <LinkDataComponent Model="@linkData" />
</HeadContent>

<article class="page-tools">
    <div class="container">
        <Block_ArticleHeader>
            <h1 data-nosnippet>Tools Engineering</h1>
        </Block_ArticleHeader>

        <Block_ArticleOutlined>
            <Sidebar>
                <aside>
                    <Block_TableOfContents />
                </aside>
            </Sidebar>
            <Content>
                <OutlineSection Id="professional" LinkName="Professional">
                    <Block_ArticleHeading>
                        <h2>Professional</h2>
                    </Block_ArticleHeading>

                    <Block_CoverGrid>

                        <CoverDate Date="2024">
                            <Cover_Southfield />
                        </CoverDate>

                        <CoverDate Date="2022">
                            <Cover_StarCitizen />
                        </CoverDate>

                        <CoverDate Date="2018">
                            <Cover_Eitr />
                        </CoverDate>

                    </Block_CoverGrid>
                </OutlineSection>

                <OutlineSection Id="documentation" LinkName="Hobbyist">
                    <Block_ArticleHeading>
                        <h2>Hobbyist</h2>
                    </Block_ArticleHeading>

                    <Block_CardGrid>
                        <Card>
                            <a class="card__link" href="/portfolio/southfield#icon-generation">Holodrone</a>
                            <div class="container">
                                <header>
                                    <SvgSprite class="card-keyicon" Link="/icons.svg?v=1#icon-holodrone" />
                                    <h3>Holodrone</h3>
                                </header>
                                <p>Automatic screenshot capture for automated testing and icon generation.</p>
                            </div>
                        </Card>
                        <Card>
                            <a class="card__link" href="/portfolio/southfield#gradient-recolouring">Gradients</a>
                            <div class="container">
                                <header>
                                    <SvgSprite class="card-keyicon" Link="/icons.svg?v=1#icon-network-right-solid" />
                                    <h3>Gradients</h3>
                                </header>
                                <p>Asset-based gradient editing.</p>
                            </div>
                        </Card>
                        <Card>
                            <a class="card__link" href="/portfolio/eitr#skill-tree-editing">Skill Tree Editor</a>
                            <div class="container">
                                <header>
                                    <SvgSprite class="card-keyicon" Link="/icons.svg?v=1#icon-network-right-solid" />
                                    <h3>Skill Tree Editor</h3>
                                </header>
                                <p>Inspired by the skill tree in <i>'Path of Exile'</i>, a skill tree editor capable of making massive skill trees.</p>
                            </div>
                        </Card>
                        <Card>
                            <a class="card__link" href="/portfolio/lodestone">Lodestone</a>
                            <div class="container">
                                <header>
                                    <SvgSprite class="card-keyicon" Link="/icons.svg?v=1#icon-network-right-solid" />
                                    <h3>Lodestone</h3>
                                </header>
                                <p>A standalone asset editor, management, and build system.</p>
                            </div>
                        </Card>
                        <Card>
                            <a class="card__link" href="/portfolio/samples">Samples</a>
                            <div class="container">
                                <header>
                                    <SvgSprite class="card-keyicon" Link="/icons.svg?v=1#icon-palette-swatch-variant" />
                                    <h3>Samples</h3>
                                </header>
                                <p>Automation of code documentation, render code samples with advanced syntax highlighting.</p>
                            </div>
                        </Card>
                        <Card>
                            <a class="card__link" href="/portfolio/asseticons">AssetIcons</a>
                            <div class="container">
                                <header>
                                    <SvgSprite class="card-keyicon" Link="/icons.svg?v=1#icon-network-right-solid" />
                                    <h3>AssetIcons</h3>
                                </header>
                                <p>Published on the Unity Asset Store, a tool for generating icons for your assets.</p>
                            </div>
                        </Card>
                    </Block_CardGrid>
                </OutlineSection>
            </Content>
        </Block_ArticleOutlined>
    </div>
</article>
