article.page-portfolio {
}

    article.page-portfolio ::deep .layout-split.layout-split--outlined .feature-signature {
        width: 100%;
        height: auto;
        display: block;
        aspect-ratio: 2.16;
        margin: auto;
        max-width: 500px;
        margin-block-start: 3rem;
        margin-block-end: 3rem;
    }

    article.page-portfolio ::deep .layout-split > .layout-split__sidebar h1 {
        font-size: 4rem;
        margin-bottom: 1.5rem;
        margin-top: 0.5rem;
        text-transform: uppercase;
        letter-spacing: 0.15em;
        line-height: 1;
    }

    article.page-portfolio ::deep .layout-split > .layout-split__sidebar .subheading {
        margin-bottom: 2rem;
        text-transform: uppercase;
        letter-spacing: 0.1em;
    }

    article.page-portfolio ::deep .layout-split > .layout-split__sidebar > aside {
        top: 129px;
    }

    article.page-portfolio ::deep .layout-split > .layout-split__sidebar .toc {
        display: none;
    }

/* Low-Resolution Desktop */
@media screen and (min-width: 992px) {

    article.page-portfolio ::deep .layout-split.layout-split--outlined .feature-signature {
        width: 90%;
        max-width: none;
        margin-top: 5rem;
        margin-bottom: 5rem;
    }

    article.page-portfolio ::deep .layout-split > .layout-split__sidebar .toc {
        display: block;
    }

    /* Low-Height Desktop */
    @media screen and (max-height: 768px) {

        article.page-portfolio ::deep .layout-split > .layout-split__sidebar > aside {
            position: unset;
            top: unset;
            height: 100%;
        }

        article.page-portfolio ::deep .layout-split > .layout-split__sidebar .toc {
            display: block;
            position: sticky;
            top: 64px;
        }
    }
}

.row-readmore {
    margin-top: 1.75rem;
    margin-bottom: 0.75rem;
    justify-content: center;
}

.row-download {
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
    justify-content: center;
}

::deep .pronunciation-guide {
    margin-top: 64px;
}
