@inherits Icon

<symbol id="icon-@Identifier" viewBox="0 0 96 96">
    <title>@Title</title>
    <g transform="translate(-91.454078,-104.50822)">
        <path fill="#25266e" d="m 112.13172,152.6716 c -20.923559,-1.58999 -28.386309,-29.49746 -10.98374,-41.07447 2.63664,-1.75402 2.59553,-1.79524 4.47228,4.48444 1.62667,5.44292 1.61214,4.89846 0.17343,6.49865 -6.666059,7.41426 -1.44906,18.85027 8.56934,18.78456 9.86775,-0.0647 14.75791,-11.62171 7.99413,-18.89261 -1.16851,-1.25612 -1.16851,-1.25612 0.40897,-6.4823 2.02937,-6.72326 2.73162,-6.80979 8.21907,-1.01267 14.12709,14.9243 1.94764,39.27509 -18.85348,37.6944 z m -0.76157,-22.80165 c -0.61487,-0.4496 -1.77598,-24.26055 -1.21595,-24.93535 0.47096,-0.56747 7.98082,-0.56888 8.45163,-0.002 0.5385,0.64886 -0.64606,24.50292 -1.23883,24.94683 -0.6094,0.45636 -5.36994,0.44851 -5.99685,-0.01 z" />
    </g>
</symbol>

@code {
    public override string Identifier => "cloudimperiumgames-small";
    public override string Title => "Cloud Imperium Games";
}
